.modal_message { background:@white; #gradient > .vertical(@white,@grey40); .border-radius(3px); .box-shadow(~"0 0 15px rgba(0,0,0,.5), inset 0 -1px 0 rgba(255,255,255,1)"); left:50%; margin:0 0 0 -225px; position:absolute; top:110px; width:450px; z-index:99; }
.modal_header { background:@grey25; border-bottom:1px solid @grey16; .border-radius(3px 3px 0 0); padding:0 20px; }
.modal_header h2 { font-size:18px; font-weight:normal; line-height:24px; margin:0; padding:12px 20px 11px 0; position:relative; }
.modal_header .close_button { position:absolute; right:-20px; text-align:right; top:7px; }
.modal_header .close_button a { color:@grey11; display:block; font-weight:bold; padding:5px 20px 5px 5px; text-decoration:none; .transition(all .15s linear); }
.modal_header .close_button a:hover, .modal_header .close_button a:focus, .modal_header .close_button a:active { color:@grey4; }
.modal_body { padding:0 20px; }
.modal_footer { background:@grey25; border-top:1px solid @grey16; .border-radius(0 0 3px 3px); clear:both; padding:0 20px; text-align:right; }
.modal_footer .button a { margin-right:0; margin-left:6px; }

.modal_overlay { background:url(../images/overlay-black.png) repeat 0 0; background:rgba(0,0,0,.3); height:100%; left:0; position:absolute; top:0; width:100%; z-index:450; }

.js div.modal { display:none; }

.loading { background:@black url(../images/loading-big-black.gif) no-repeat 50% 50%; .border-radius(3px); height:70px; left:50%; margin:-35px 0 0 -35px; position:fixed; top:50%; width:70px; }
